name: Build project

on:
  push:
    branches:
      - master

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    name: Test & build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.16"
      - name: Unit tests
        run: go test ./...
      - name: Build
        run: go build
